// Colors
$primary-color:#8b957d;
// $secondary-color:#416f1b;
$tertiary-color:#627051;
// $lighter-green: #bdc7b1;
// $background-color:#cacaca;
// $white:#ffffff;
// $black: #000000;
// $dark-gray: #505050;
$cream:#eee9e6;
// $white-ish: #f5f1ef;
// $light-red: #823329;
// $dark-red: #3F0D12;
$gray:#707070;
$cian: #47a6af;
$dark-blue: #024c5d;
// Shadows
$gray-shadow:#adadad;
// Fonts
$primary-font: "Raleway";
$logo-font: "Myriad Pro Condensed";

// Sizes
$smallHeadings: 1.3rem;

// Opaque colors
$tertiary-color-opaque: rgba(98, 112, 81, 0.7);
$primary-color-opaque: rgba(139, 149, 125, 0.7);
// $cream-opaque: rgba(238, 233, 230, 0.7);